body {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 1em;
	background-image: url(../images/blue_gradient.png);
	background-repeat: repeat;
	background-attachment: fixed;
	text-decoration: none;
	color: #000000;
}
#main{
	margin-right: 25px;
	margin-left: 25px;
	min-width:620px;
}
#formated_text{
	white-space: normal;
}
/************Start**Help Div**********************************************/
#help{
	font-size: 0.9em;
	color: #FFFFFF;
	background-color: #333333;
	text-align: left;
	list-style-type: none;
	font-weight: bold;
	border: 1px solid #333333;
}
#help li{
	padding: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
}
#help span{
	padding-left: 0px;
}
#help #last{
	padding: 5px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
/*************start***Quicksilver Search ***************************/
#search_container {
	background-color: #FFFFFF;
	float: right;
	width: 100%;
	clear: both;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#hidden {
	display: none;
}
#search_container a, a:link, a:visited {
	color: #000000;
	text-decoration: underline;
}
#contact:hover {
	background-color: #CCCCCC;
}
#contact {
	padding: 7px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #999999;
}
#contact a {
/*padding-left: 25px;*/
}
#phone {
	font-size: .7em;
	color: #000000;
}
/***********************End search container*********************/
/*****************Start****Menu Bar*******************************/
#modernbricksmenu {
	padding: 0;
	width: 100%;
	background: transparent;
}
#modernbricksmenu ul {
	font: bold 11px Arial;
	margin:0;
	margin-left: 20px; /*margin between first menu item and left browser edge*/
	padding: 0;
	list-style: none;
}
#modernbricksmenu li {
	display: inline;
	margin: 0 2px 0 0;
	padding: 0;
	text-transform:uppercase;
	z-index: 1;
}
#modernbricksmenu a {
	float: left;
	display: block;
	color: white;
	text-decoration: none;
	letter-spacing: 1px;
	background-color: black;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	margin-top: 0;
	margin-right: 2px;
	margin-bottom: 0;
	margin-left: 0;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 5px;
	padding-left: 20px;
}
#modernbricksmenu a:hover {
	/*background-color: #0099FF; /*Menu hover bgcolor*/
}

#modernbricksmenu #current a { /*currently selected tab*/
	background-color: #000C6C; 
	border-color: #000C6C; 
}
#modernbricksmenuline {
	clear: both;
	padding: 0;
	width: 100%;
	background-color: #000C6C;
	/*You must adjust both of these*/
	line-height: 10px;
	height: 10px;
}
#myform{ /*CSS for sample search box. Remove if desired */
float: right;
margin: 0;
padding: 0;
}

#myform .filter{
	width: 200px;
	border: 1px solid #FFFFFF;
	height: 20px;
	font-size: 17px;
	font-style: italic;
	color: #333333;
}
#myform label{
	font-weight: bold;
	color: #FFFFFF;
	font-size: .9em;
}
#myform #help_button{
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
	background-color: transparent;
	height: 24px;
	margin-right: 50px;
}
#myform #clear_button{
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
	background-color: transparent;
	height: 24px;
}
/********************End***Menu Bar*******************************/
/*********************Start Supplier Form*************************/
#message{
	font-size: 1.3em;
	color: #FFFFFF;
	margin-top: 5px;
	margin-left: 25px;
	margin-bottom: 5px;
}
.error_field{
	background-color: #E19380;
}
legend{
	font-size: .9em;
	color: #FFFFFF;
}
.field_container{
	margin-top: 12px;
	margin-bottom: 12px;
	margin-left: 15px;
	padding-top: 2px;
}
.text_field{				/*all other fields style*/
	color: #333333;
	background-color: #FFFFFF;
	border: 1px solid #FFFFFF;
	height: 23px;
	width: 275px;
	font-size: 1.1em;
}
.text_field_small{				/*all other fields style*/
	color: #333333;
	background-color: #FFFFFF;
	border: 1px solid #FFFFFF;
	height: 23px;
	width: 120px;
	font-size: 1.1em;
}
.notes{				/*Note field style*/
	width: 275px;
	border: 1px solid #FFFFFF;
	color: #333333;
	height: 85px;
	font-size: 1.1em;
}
#field_label{
	color: #FFFFFF;
	width: 175px;
	float: left;
	height: 20px;
}
.field_container .error_message{
	font-size: 1em;
	color: #000000;
	vertical-align: middle;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-style: italic;
	font-weight: bold;
}
#required{
	font-size: 1em;
	color: #FF0000;
}
#reminder{
	color: #000000;
	list-style-type: none;
	background-color: #e3dfe0;
	border: 1px solid #000000;
	padding: 5px;
	width: 600px;
}
.field_container div{
	font-size: .8em;
	color: #FFFFFF;
	margin-left: 175px;
}
#button{
	background-color: #000099;
	height: 35px;
	width: 215px;
	border: 3px solid #FFFFFF;
	font-size: 1.1em;
	color: #FFFFFF;
}
#part_b_button{
	color: #FFFFFF;
	background-color: transparent;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-size: 1.1em;
}
/*Details Page*/
#contact_form #details{
	float: right;
	width: 45%;
	color: #FFFFFF;
	border-top-width: 3px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #333333;
	margin-top: 10px;
}
#contact_form #notes{
	float: left;
	width: 45%;
	color: #FFFFFF;
	border-top-width: 3px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #333333;
	margin-top: 10px;
}
#contact_form legend{}
#contact_form .contact_form_field{
	font-size: 1.1em;
	color: #FFFFFF;
	margin: 5px;
}
#contact_form .label{
	font-size: .7em;
	margin-left: 5px;
	display: inline;
}
#contact_form fieldset{
	font-size: 1em;
	/*padding-top: 15px;
	padding-bottom: 15px;*/
	margin-top: 15px;
	margin-bottom: 15px;
}
#contact_form #ajax_edit_comments{
	white-space: pre;
}
#contact_form a{
	color: #FFFFFF;
}
#contact_form #add_note_field{
	width: 100%;
	height: 150px;
}
#contact_form #save_button{
	font-size: 1.1em;
	color: #FFFFFF;
	background-color: transparent;
	border: 2px solid #FFFFFF;	/*Used for save and update button*/
	margin-top: 15px;
	margin-left: 15px;	
}
#contact_form #note_controls input{
	float: right;
	display: inline;
}
#contact_form #note_controls #delete{
	background-color: transparent;
	/*background-image: url(../images/20px_delete_icon.png);*/
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	height: 20px;
	width: 60px;
	font-size: .8em;
	font-weight: bold;
	color: #FFFFFF;
}
#contact_form #note_controls #edit{
	background-color: transparent;
	height: 20px;
	width: 50px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-size: .8em;
	font-weight: bold;
	color: #FFFFFF;
}
#contact_form .ajax_edit_form .editor_field{
	border: 1px solid #000000;
	font-size: 1.2em;
	color: #FF9900;
	background-color: #FFFFFF;
} 
#contact_form .ajax_edit_form .editor_ok_button{
	font-size: .5em;
	background-image: url(../images/green_check_20x20.png);
	height: 20px;
	width: 20px;
	background-repeat: no-repeat;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: transparent;
	margin-right: 10px;
} 
#contact_form .ajax_edit_form .editor_cancel_button{
	font-size: .5em;
	background-image: url(../images/cancel_20x20.png);
	height: 20px;
	width: 20px;
	background-repeat: no-repeat;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: transparent;
} 
#contact_form .ajax_edit_form .ajax_saving{
	background-image: url(../images/icon_wait.gif);
	background-repeat: no-repeat;
}
#search_label{
	font-size: 1.3em;
	color: #FFF;
	display: inline;
}
#search_button{
	font-size: 1.2em;
	color: #333;
	border: 1px none #00F;
	background-color: #FFF;
}
#search_no_match{
	color: #FFF;
	text-align: center;
	top: 30px;
	position: relative;
}
#search_result{
	color: #000;
	background-color: #FFF;
	font-size: 18px;
}
#search_result_phone{
	position: relative;
	display: inline;
}
#keyword{
	font-size: 20px;
	color: #FFF;
	text-align: center;
}
#keyword_link{
	color: #FFF;
	text-decoration: none;
}
#keyword_container{
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 20px;
	text-align: center;
	margin-right: 40px;
	margin-left: 40px;
	text-decoration: none;
}
#tag_remove_button{
	height: 15px;
	width: 15px;
	background-color:transparent;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-image: url(../images/15px_delete_icon.png);
	color: transparent;
}
#tag_box{
	display: inline;
}
.inline{
	display: inline;
}
.remove_checkbox{
	color: #FFF;
}